

.fade-in-fast{
  animation:fade-in-fast 0.5s 1;
  opacity:1;
}
@keyframes fade-in-fast {
  from{opacity: 0;}
  to{opacity: 1;}
}

h1#col-title {
  -webkit-text-fill-color: #2f3861;
  margin-top: 0;
  padding-top: 0;
  font-size: 50px;
}

b {
  -webkit-text-fill-color: #2f3861;
  text-align: center;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.options {
  padding-left: 20px;
}


.text-container {
    position: absolute;
    font-weight: lighter;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;

}

.start-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
}

.start {
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100px;
  border-width: 5px;
  border-style: outset;
  background: rgb(16, 16, 36);
  border-color: rgb(16, 16, 36);
  color: aliceblue;
  border-radius: 24px;
  transition: background 0.5s, color 0.5s, border-color 0.5s;
  font-family: sans-serif;
  font-size: 15px;
}

.start:hover {
  background: aliceblue;
  color: rgb(121, 121, 255);
  border-color: rgb(121, 121, 255);
}

/*-----------*/
.game1{
  visibility:hidden;
  z-index: -1;
}

.box-flex {
  position:fixed;
  width:100%;
  height:100%;
  display:flex;
  align-content:center;
  flex-wrap:wrap;
}

.box{
  background:white;

  width:33%;
  height:min-content;
  min-height: 40%;

  padding:30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left:auto;
  margin-right:auto;

  transform: translateY(-80px);
  text-align:center;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0px 0px 20px 12px #00000028;
}


#display-image{
  width: 100%;
  height:100%;
  background-position: center;
  object-fit: cover;
  /* overflow: hidden; */
  align-self: center;
  border-radius: 5px;
}
.display#display-object{
  margin:0px;
  margin-bottom: 30px;
}

.display#display-score{
  position:absolute;
  top:50%;
  font-size: 40px;
  -webkit-text-fill-color: azure;
}
.display#display-win{
  visibility:hidden;
  font-size: 30px;
}

/*   buttons   */
.select{
  position:fixed;
  width:100%;
  display:flex;
  bottom:12%
}
.button-container{
  height:50px;
  width:50px;
}
.button{
  width: 100%;
  height: 100%;
  border-width: 2px;
}
button:hover{
  cursor:pointer;
}
#safe-container{
  width:42%;
  margin-left:5%;
}
#safe{
  background:rgb(123, 255, 123);
  border-style:hidden;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
#safe:hover{
  background:rgb(94, 250, 94);
}

#unsafe-container{
  width:30%;
}
#unsafe{
  background:#ffe9ae;
  border-style:hidden;
}
#unsafe:hover{
  background: #ffe08d;
}

#dangerous-container{
  width:18%;
  margin-right:5%;
}
#dangerous{
  background:#df6478;
  border-style:hidden;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#dangerous:hover{
  background: #f13d5b;
}
/*          */

.display#display-answer{
  visibility: hidden;
  -webkit-appearance: none; 
  appearance: none;
  position: fixed;
  width: 90%;
  height:30px;
  margin-left:5%;
  margin-right:5%;
  bottom: 12%;
  transform: translateY(40px);
}
.display#display-answer::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(218, 220, 226);
}

.display#display-next{
  visibility: hidden;
}

button#next{
  padding:0px;
  margin:0px;
  margin-right:5px;
  height:40px;
  width: 85px;
  border:none;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  background-color:#2f3861;
  -webkit-text-fill-color: azure;
  font-size: 18px;
  transition:all 0.5s;
}
button#next:hover{
  font-size: 22px;
  background-color:#242c50;
}
button#restart{
  padding:0px;
  margin:0px;
  height:40px;
  width: 55px;
  border:none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  background-color:#2f3861;
  -webkit-text-fill-color: azure;
  font-size: 18px;
  transition:all 0.5s;
}
button#restart:hover{
  font-size: 22px;
  background-color:#242c50;
}